<article *ngIf="ship">
  <header><h2>Edit ship</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="ship.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="displacement">Displacement:</label>
          <input id="displacement" name="displacement" [(ngModel)]="ship.displacement"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-4 p-2">
        <fieldset *ngIf="fleets">
          <legend>Fleet:</legend>
          <div *ngFor="let fleet of fleets.fleets">
            <label>
              <input type="radio" name="fleet" [(ngModel)]="ship.fleet" [value]="fleet.id"/>
              {{fleet.fleetName}}
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
