<article *ngIf="fleet">
  <header><h2>Edit fleet</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="fleetName">Name:</label>
          <input id="fleetName" name="fleetName" [(ngModel)]="fleet.fleetName"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="profit">Profit:</label>
          <input id="profit" name="profit" [(ngModel)]="fleet.profit"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="countryOfOrigin">Country of origin:</label>
          <input id="countryOfOrigin" name="countryOfOrigin" [(ngModel)]="fleet.countryOfOrigin"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
